# Commands configuration file for run_checks.sh
#
# Each line contains:
# check_name|command|expected_output|check_type|match_type|keywords
#
# - check_name: The name of the check.
# - command: The shell command to be executed.
# - expected_output: The expected output of the command.
# - check_type: The type of the check. Use '1' for a quick check and '2' for a full check. Quick checks are also included in full checks.
# - match_type: Type of matching, 'exact' for exact match, 'keyword' for keyword search.
# - keywords: Comma-separated keywords to search for in the output (only used if match_type is 'keyword').

# Example:
# check1|echo hello|hello|1|exact|
# check2|echo "This is a test"|This is a test|1|keyword|This,test

check1|echo hello|hello|1|exact|
check2|date '+%Y'|2023|2|keyword|2023
check3|expr 2 + 2|4|1|exact|
check4|echo world|world|2|keyword|planet,world
