# Commands configuration file for run_checks.sh
#
# Each line contains:
# check_name|command|expected_output|check_type
#
# - check_name: The name of the check.
# - command: The shell command to be executed.
# - expected_output: The expected output of the command.
# - check_type: The type of the check. Use '1' for a quick check and '2' for a full check. Quick checks are also included in full checks.

# Example:
# check1|echo hello|hello|1

check1|echo hello|hello|1
check2|date '+%Y'|2023|2
check3|expr 2 + 2|4|1
check4|echo world|world|2
